# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\University Of Essex One Drive\OneDrive - University of Essex\Year 2\CE203 - Application Programming\Assignment 2\Assignment 2 Sample Code\Asssignment2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
